body {
    margin: 0;
}
.header {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
}

.top-header, .bottom-header {
    display: flex;
}

.top-header {
    justify-content: space-around;
    padding: 8px;
}

ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 16px;
    align-items: center;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    display: flex;
    justify-content: center;
    align-items: center;
}